@font-face {
  font-family: 'Phenomena-Regular';
  src: url('../fonts/Phenomena-Regular.eot');
  src: url('../fonts/Phenomena-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Phenomena-Regular.otf') format('otf'),
    url('../fonts/Phenomena-Regular.svg#Phenomena-Regular') format('svg'),
    url('../fonts/Phenomena-Regular.ttf') format('truetype'),
    url('../fonts/Phenomena-Regular.woff') format('woff'),
    url('../fonts/Phenomena-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Phenomena-Bold';
  src: url('../fonts/Phenomena-Bold.eot');
  src: url('../fonts/Phenomena-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Phenomena-Bold.svg#Phenomena-Bold') format('svg'),
    url('../fonts/Phenomena-Bold.ttf') format('truetype'),
    url('../fonts/Phenomena-Bold.woff') format('woff'),
    url('../fonts/Phenomena-Bold.woff2') format('woff2'),
    url('../fonts/Phenomena-Bold.otf') format('otf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.otf') format('otf'),
    url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg'),
    url('../fonts/Roboto-Light.ttf') format('truetype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.woff2') format('woff2');
}

