// %AnPro-Regular {
//   font-family: 'AnonymousPro-Regular', sans-serif;
//   font-weight: normal;
//   display: swap;
// }

// %AnPro-Bold {
//   font-family: 'AnonymousPro-Bold', sans-serif;
//   font-weight: 700
// }

// %AlGrey-Bold {
//   font-family: 'AlegreyaSC-Bold', sans-serif;
//   font-weight: 700;
// }
%Regular {
  font-family: 'Phenomena-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%Bold {
  font-family: 'Phenomena-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
}
%Roboto {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  font-style: normal;
}

$white: #fff;
$text: #000;
$yellow: #FFD338;
$black: #262626;