
%Regular {
  font-family: 'Phenomena-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  display: swap;
}

%Bold {
  font-family: 'Phenomena-Bold', sans-serif;
   font-weight: normal;
  font-style: normal;
  display: swap;
}

%Roboto {
  font-family: 'Roboto-Light', sans-serif;
   font-weight: normal;
  font-style: normal;
  display: swap;
}

$white: #fff;
$text: #000;
$yellow: #FFD338;
$black: #262626;