@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  background-color: $white;
  width: 100%;
  clip-path: ellipse(60% 93px at 50% 30%);
  position: fixed;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 22px 0px 50px 0px;
}

.header__item-wrapper {
  margin-left: 15px;
  padding-top: 10px;
}

.header__phone {
  display: flex;
  justify-content: space-between;
  @extend %Bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  max-width: 200px;
  width: 100%;
  height: fit-content;
  transition: all .5s;

  path {
    transition: all .5s;
  }

  &:hover {
    .header__phone-icon {
      background-color: $black;
    }

    path {
      fill: $yellow;
    }
  }
}

.header__phone-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__phone-text {
  font-size: 16px;
  line-height: 19px;
  @extend %Regular;
  display: block;
}

.header__item {
  max-width: fit-content;
  width: 100%;
  text-align: center;
}

// .header__btn {
//   background-color: $yellow;
//   transition: all .5s;
//   &:hover {
//     background-color: $black;
//     color: $white;
//     border: 2px solid $yellow;
//   }
// }

.header__item-text {
  @extend %Regular;
  display: block;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

// end header


// start section screen
.screen {
  background-color: $yellow;
}

.screen__wrapper {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen__left {
  // max-width: 888px;
  // width: 100%;
  // width: 55.5%;
  width: 888px;


}

.screen__left-toptext {
  font-size: 30px;
  line-height: 50px;
}

.screen__title {
  @extend %Bold;
  // font-size: 82px;
  // font-size: calc(85px + 50 * (100vw - 1920px) / 1600);
  // line-height: calc(102px + 80 * (100vw - 1920px) / 1600);
  font-size: 85px;
  line-height: 102px;
  margin-bottom: 15px;

}

.screen__left-downtext {
  max-width: 457px;
  width: 100%;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 50px;
}

.screen__left-btn {
  margin-bottom: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -400px;
    width: 284px;
    height: 200px;
    background-image: url('../images/icons/screen-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.screen__left-btn--text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  max-width: 152px;
  width: 100%;
  margin-left: 63px;
}






.screen__right {
  max-width: 547px;
  // width: 100%;
  // width: 34%;
}

// end section screen



// start section services


.tab--active {
  color: #473332;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.tabs-wrapper {
  max-width: 806px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.price__tab {
  padding: 7px 20px;
  border: 2px solid $yellow;
  border-radius: 5px;
  background-color: $white;
  @extend %Bold;
  font-size: 30px;
  line-height: 36px;
  transition: all .3s;
  color: $black;

  &+.price__tab {
    margin-left: 70px;
  }

  &:hover {
    background-color: $yellow;
  }
}

.tab--active {
  background-color: $yellow !important;
  border-color: $black;
}

.services__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.services__item {
  text-align: center;
  width: 450px;
  margin-bottom: 50px;
  position: relative;

}

.services__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

}

.services__item-wrapper {
  width: 380px;
  height: 380px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.services__item-img {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}

.services__box-title {
  @extend %Bold;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 15px;
  color: $black;
}

.services__box-descr {
  @extend %Roboto;
  font-size: 20px;
  line-height: 23px;
  color: $black;
  margin: 0 auto;
  padding-bottom: 50px;
}

.services__box-price {
  @extend %Bold;
  color: $black;
  font-size: 30px;
  line-height: 36px;
  max-width: 314px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 2px solid $yellow;
}

// end section services









@import 'media';