@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  background-color: $white;
  width: 100%;
  clip-path: ellipse(60% 93px at 50% 30%);
  position: fixed;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 22px 0px 50px 0px;
}

.header__item-wrapper {
  margin-left: 15px;
  padding-top: 10px;
}

.header__phone {
  display: flex;
  justify-content: space-between;
  @extend %Bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  max-width: 210px;
  width: 100%;
  height: fit-content;
  transition: all .5s;

  path {
    transition: all .5s;
  }

  &:hover {
    .header__phone-icon {
      background-color: $black;
    }

    path {
      fill: $yellow;
    }
  }
}

.header__phone-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__phone-text {
  font-size: 16px;
  line-height: 19px;
  @extend %Regular;
  display: block;
}

.header__item {
  max-width: fit-content;
  width: 100%;
  text-align: center;
}

.header__item-text {
  @extend %Regular;
  display: block;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

// end header


// start section screen
.screen {
  background-color: $yellow;
}

.screen__wrapper {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen__left {
  // max-width: 888px;
  // width: 100%;
  // width: 55.5%;
  width: 888px;


}

.screen__left-toptext {
  font-size: 30px;
  line-height: 50px;
}

.screen__title {
  @extend %Bold;
  // font-size: 82px;
  // font-size: calc(85px + 50 * (100vw - 1920px) / 1600);
  // line-height: calc(102px + 80 * (100vw - 1920px) / 1600);
  font-size: 85px;
  line-height: 102px;
  margin-bottom: 15px;

}

.screen__left-downtext {
  max-width: 457px;
  width: 100%;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 50px;
}

.screen__left-btn {
  margin-bottom: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -400px;
    width: 284px;
    height: 200px;
    background-image: url('../images/icons/screen-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.screen__left-btn--text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  max-width: 152px;
  width: 100%;
  margin-left: 63px;
}






.screen__right {
  max-width: 547px;
  // width: 100%;
  // width: 34%;
}

// end section screen



// start section services


.tab--active {
  color: #473332;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.tabs-wrapper {
  max-width: 806px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.price__tab {
  padding: 7px 20px;
  border: 2px solid $yellow;
  border-radius: 5px;
  background-color: $white;
  @extend %Bold;
  font-size: 30px;
  line-height: 36px;
  transition: all .3s;
  color: $text;

  &+.price__tab {
    margin-left: 70px;
  }

  &:hover {
    background-color: $yellow;
  }
}

.tab--active {
  background-color: $yellow !important;
  color: $text;
}

.services__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.services__item {
  text-align: center;
  width: 450px;
  margin-bottom: 50px;
  position: relative;

}

.services__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

}

.services__item-wrapper {
  width: 380px;
  height: 380px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.services__item-img {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}

.services__box-title {
  @extend %Bold;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 15px;
  color: $text;
}

.services__box-descr {
  @extend %Roboto;
  font-size: 20px;
  line-height: 23px;
  color: $text;
  margin: 0 auto;
  padding-bottom: 50px;
}

.services__box-price {
  @extend %Bold;
  color: $text;
  font-size: 30px;
  line-height: 36px;
  max-width: 314px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 2px solid $yellow;
}

.services__btn-wrapper {
  width: 100%;
  text-align: center;
}

.services__btn {
  background-color: $black;
  transition: all .5s;
  border: 2px solid transition;
  color: $white;

  &:hover {
    background-color: $yellow;
    color: $black;


  }
}

// end section services

// start section adv
.adv {
  background-color: $yellow;
}

.adv__title {
  margin-bottom: 0;
}

.adv__subtitle {
  color: $text;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 50px;
  text-align: center;
}

.adv__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px
}

.adv__item {
  max-width: 675px;
  width: 100%;
  padding: 10px;
  background-color: $black;
  color: $white;
  border-radius: 5px;
}

.adv__item-wrapper {
  border: 1px dashed $white;
  border-radius: 5px;
  padding: 15px;
}

.adv__item-wrapper--top {
  display: flex;
  justify-content: space-between;
}

.adv__item-title {
  @extend %Bold;
  color: $white;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

.adv__item-icon {
  width: 45px;
  height: 45px;
}

.adv__item-text {
  @extend %Regular;
  color: $white;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 11px;
}

// end section adv

// start section contacts
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.contacts__left {
  width: 637px;
}

.contacts__left-title {
  // margin-left: 0;
  text-align: left;
}

.contacts__left-title--distinctive {
  text-transform: uppercase;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 71px;
    height: 71px;
    background-color: $yellow;
    border-radius: 50%;
    z-index: -1;
    left: -9px;
    top: 5px;
  }
}

.contacts__left-subtitle {
  text-align: center;
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 36px;
  color: $text;
}

.contacts__left-item {
  border-bottom: 2px solid #FFD338;
  margin-bottom: 30px;
  @extend %Regular;
  color: $text;
  padding-bottom: 5px;
}

.contacts__left-item--distinctive {
  @extend %Bold;
  padding-left: 10px;
}

.contacts__left-item--text {
  width: 575px;
}

.contacts__left-item--phone {
  width: 525px;
}

.contacts__left-item--email {
  width: 475px;
}

.contacts__btn {
  margin-top: 20px;
}

.contacts__right {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

// end section contacts

// start section footer
.footer {
  background-color: $black;
  // clip-path: ellipse(70% 120px at 50% 82%);
  clip-path: ellipse(85% 220px at 50% 122%);
  // padding-bottom: 80px;
  // height: 300px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 15px 0;
}

.footer__item {
  @extend %Regular;
  font-size: 24px;
  line-height: 28px;
  color: $white;
  // margin-top: 30px;
  max-width: 220px;
  width: 100%;
}

.footer__item-text--distinctive {
  @extend %Bold;
  padding-right: 5px;
}
.footer__item--left{
  text-align: left;
}
.footer__item--right{
  text-align: right;
}
.footer__item-text-prof{
  font-size: 16px;
  line-height: 18px;
 
}
.footer__item-link{
    font-size: 16px;
    line-height: 18px;
    transition: all .3s;
    color: $white;
    &:hover{
      color: $yellow;
    }
}
.footer__link-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
// end section footer




@import 'media';